In [99]:
import pandas as pd
import os
import numpy as np
import json
from datetime import datetime
from statistics import mean

from organizeEventData import *

In [100]:
coaches_file = "/Users/tw/Desktop/Deep_Learning/Project/data/coaches.json"
players_file = "/Users/tw/Desktop/Deep_Learning/Project/data/players.json"
refs_file = "/Users/tw/Desktop/Deep_Learning/Project/data/referees.json"
teams_file = "/Users/tw/Desktop/Deep_Learning/Project/data/teams.json"

teamsFile = open(teams_file)
teams = json.load(teamsFile)
teamsFile.close()

In [101]:
country = 'france'

In [102]:
df_matches = pd.read_json(f"/Users/tw/Desktop/Deep_Learning/Project/data/matches/matches_{country}.json").drop(columns=['venue', 'date', 'status', 'duration'])

In [103]:
def clean_team_names(team):
    return team_dict[team]

def extract_label_information(label):
    teams, score = label.split(',')
    home_team, away_team = [x for x in teams.split(' - ')]
    home_goals, away_goals = [int(x.replace(' ', '')) for x in score.split(' - ')]

    return home_team, away_team, home_goals, away_goals

def get_team_ids(teamsData):
    return list(teamsData.keys())

def extract_game_information(teamsData, teams):
    teamIds = list(teamsData.keys())
    
    for t_id in teamIds:
        if teamsData[t_id]['side'] == 'home':
            team1_id = t_id
            team1_name = teamNameFromId(int(t_id), teams)
            team1_goals = teamsData[t_id]['score']
        elif teamsData[t_id]['side'] == 'away': 
            team2_id = t_id
            team2_name = teamNameFromId(int(t_id), teams)
            team2_goals = teamsData[t_id]['score']
        else:
            print('ERROR: team ids')
    return team1_id, team1_name, team2_id, team2_name, team1_goals, team2_goals

df_matches['team1_id'], df_matches['team1_name'], df_matches['team2_id'], df_matches['team2_name'], df_matches['team1_goals'], df_matches['team2_goals'] = zip(*df_matches.apply(lambda x: extract_game_information(x['teamsData'], teams), axis='columns'))

In [104]:
df_matches.drop(columns=['roundId', 'gameweek', 'seasonId', 'dateutc', 'referees', 'competitionId'])

,teamsData,winner,wyId,label,team1_id,team1_name,team2_id,team2_name,team1_goals,team2_goals
0,"{'3783': {'scoreET': 0, 'coachId': 210513, 'si...",0,2501056,"Caen - PSG, 0 - 0",3783,Caen,3767,PSG,0,0
1,"{'3804': {'scoreET': 0, 'coachId': 220743, 'si...",0,2501057,"Dijon - Angers SCO, 2 - 1",3804,Dijon,3799,Angers,2,1
2,"{'3766': {'scoreET': 0, 'coachId': 211238, 'si...",3766,2501058,"Olympique Lyonnais - Nice, 3 - 2",3766,Olympique Lyonnais,3775,Nice,3,2
3,"{'3771': {'scoreET': 0, 'coachId': 25691, 'sid...",3771,2501059,"Olympique Marseille - Amiens SC, 2 - 1",3771,Olympique Marseille,3789,Amiens SC,2,1
4,"{'3772': {'scoreET': 0, 'coachId': 9092, 'side...",3772,2501060,"Metz - Bordeaux, 0 - 4",3777,Metz,3772,Bordeaux,0,4
...,...,...,...,...,...,...,...,...,...,...
375,"{'3783': {'scoreET': 0, 'coachId': 210513, 'si...",3787,2500692,"Montpellier - Caen, 1 - 0",3787,Montpellier,3783,Caen,1,0
376,"{'3782': {'scoreET': 0, 'coachId': 218066, 'si...",3782,2500694,"Saint-\u00c9tienne - Nice, 1 - 0",3782,Saint-\u00c9tienne,3775,Nice,1,0
377,"{'3795': {'scoreET': 0, 'coachId': 25606, 'sid...",0,2500695,"Troyes - Rennes, 1 - 1",3795,Troyes,3774,Rennes,1,1
378,"{'3789': {'scoreET': 0, 'coachId': 26812, 'sid...",3767,2500693,"PSG - Amiens SC, 2 - 0",3767,PSG,3789,Amiens SC,2,0
379,"{'3780': {'scoreET': 0, 'coachId': 228969, 'si...",19830,2500691,"Monaco - Toulouse, 3 - 2",19830,Monaco,3780,Toulouse,3,2

In [105]:
teams = ['Arsenal', 'Brighton', 'Chelsea', 'Crystal Palace', 'Everton',
       'Southampton', 'Watford', 'West Brom', 'Man United', 'Newcastle',
       'Bournemouth', 'Burnley', 'Leicester', 'Liverpool', 'Stoke',
       'Swansea', 'Huddersfield', 'Tottenham', 'Man City', 'West Ham']
teams.sort()
teams

['Arsenal',
 'Bournemouth',
 'Brighton',
 'Burnley',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Huddersfield',
 'Leicester',
 'Liverpool',
 'Man City',
 'Man United',
 'Newcastle',
 'Southampton',
 'Stoke',
 'Swansea',
 'Tottenham',
 'Watford',
 'West Brom',
 'West Ham']

In [106]:
team_dict = {
    # Germany
    'Augsburg': 'Augsburg',
    'BayernM\\u00fcnchen': 'Bayern Munich',
    'BorussiaDortmund': 'Dortmund',
    'EintrachtFrankfurt': 'Ein Frankfurt',
    'K\\u00f6ln': 'FC Koln',
    'Freiburg': 'Freiburg',
    'HamburgerSV': 'Hamburg',
    'Hannover96': 'Hannover',
    'HerthaBSC': 'Hertha',
    'Hoffenheim': 'Hoffenheim',
    'BayerLeverkusen': 'Leverkusen',
    "BorussiaM'gladbach": "M'gladbach",
    'Mainz05': 'Mainz',
    'RBLeipzig': 'RB Leipzig',
    'Schalke04': 'Schalke 04',
    'Stuttgart': 'Stuttgart',
    'WerderBremen': 'Werder Bremen',
    'Wolfsburg': 'Wolfsburg',

    # England
    "Arsenal": 'Arsenal',
    "AFCBournemouth": 'Bournemouth',
    "Brighton&HoveAlbion": 'Brighton',
    "Burnley": 'Burnley',
    "Chelsea": 'Chelsea',
    "CrystalPalace": 'Crystal Palace',
    "Everton": 'Everton',
    "HuddersfieldTown": 'Huddersfield',
    "LeicesterCity": 'Leicester',
    "Liverpool": 'Liverpool',
    "ManchesterCity": 'Man City',
    "ManchesterUnited": 'Man United',
    "NewcastleUnited": 'Newcastle',
    "Southampton": 'Southampton',
    "StokeCity": 'Stoke',
    "SwanseaCity": 'Swansea',
    "TottenhamHotspur": 'Tottenham',
    "Watford": 'Watford',
    "WestBromwichAlbion": 'West Brom',
    "WestHamUnited": 'West Ham',

    # Spain
    "DeportivoAlav\\u00e9s": 'Alaves',
    "AthleticClub": 'Ath Bilbao',
    "Atl\\u00e9ticoMadrid": 'Ath Madrid',
    "Barcelona": 'Barcelona',
    "RealBetis": 'Betis',
    "CeltadeVigo": 'Celta',
    "Eibar": 'Eibar',
    "Espanyol": 'Espanol',
    "Getafe": 'Getafe',
    "Girona": 'Girona',
    "DeportivoLaCoru\\u00f1a": 'La Coruna',
    "LasPalmas": 'Las Palmas',
    "Legan\\u00e9s": 'Leganes',
    "Levante": 'Levante',
    "M\\u00e1laga": 'Malaga',
    "RealMadrid": 'Real Madrid',
    "Sevilla": 'Sevilla',
    "RealSociedad": 'Sociedad',
    "Valencia": 'Valencia',
    "Villarreal": 'Villarreal',

    # France
    "AmiensSC": 'Amiens',
    "AngersSCO": 'Angers',
    "Bordeaux": 'Bordeaux',
    "Caen": 'Caen',
    "Dijon": 'Dijon',
    "Guingamp": 'Guingamp',
    "Lille": 'Lille',
    "OlympiqueLyonnais": 'Lyon',
    "OlympiqueMarseille": 'Marseille',
    "Metz": 'Metz',
    "Monaco": 'Monaco',
    "Montpellier": 'Montpellier',
    "Nantes": 'Nantes',
    "Nice": 'Nice',
    "PSG": 'Paris SG',
    "Rennes": 'Rennes',
    "Saint-\\u00c9tienne": 'St Etienne',
    "Strasbourg": 'Strasbourg',
    "Toulouse": 'Toulouse',
    "Troyes": 'Troyes',

    # Italy
    "Atalanta": 'Atalanta',
    "Benevento": 'Benevento',
    "Bologna": 'Bologna',
    "Cagliari": 'Cagliari',
    "Chievo": 'Chievo',
    "Crotone": 'Crotone',
    "Fiorentina": 'Fiorentina',
    "Genoa": 'Genoa',
    "Internazionale": 'Inter',
    "Juventus": 'Juventus',
    "Lazio": 'Lazio',
    "Milan": 'Milan',
    "Napoli": 'Napoli',
    "Roma": 'Roma',
    "Sampdoria": 'Sampdoria',
    "Sassuolo": 'Sassuolo',
    "SPAL": 'Spal',
    "Torino": 'Torino',
    "Udinese": 'Udinese',
    "HellasVerona": 'Verona'

}


def clean_team_names(team):
    return team_dict[team]

def extract_label_information(label):
    teams, score = label.split(',')
    home_team, away_team = [clean_team_names(x.replace(' ', '')) for x in teams.split(' - ')]
    # home_team, away_team = [(x.replace(' ', '')) for x in teams.split(' - ')]
    home_goals, away_goals = [int(x.replace(' ', '')) for x in score.split(' - ')]

    return home_team, away_team, home_goals, away_goals

df_matches['HomeTeam'], df_matches['AwayTeam'], df_matches['HomeGoals'], df_matches['AwayGoals'] = zip(*df_matches.apply(lambda x: extract_label_information(x['label']), axis='columns'))

In [107]:
teams2 = (list(df_matches['team1_name'].unique()))
teams2.sort()
teams2

['Amiens SC',
 'Angers',
 'Bordeaux',
 'Caen',
 'Dijon',
 'Guingamp',
 'Lille',
 'Metz',
 'Monaco',
 'Montpellier',
 'Nantes',
 'Nice',
 'Olympique Lyonnais',
 'Olympique Marseille',
 'PSG',
 'Rennes',
 'Saint-\\u00c9tienne',
 'Strasbourg',
 'Toulouse',
 'Troyes']

In [108]:
df_odds = (pd.read_csv(f'/Users/tw/Desktop/Deep_Learning/Project/data/odds/{country}_odds.csv', usecols=['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'B365H', 'B365A', 'BWH','BWA', 'IWH', 'IWA', 'LBH', 'LBA', 'PSH','PSA', 'WHH','WHA','VCH', 'VCA'])).rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals'})
df_odds['avgHome'] = df_odds.apply(lambda x: mean([x['B365H'], x['BWH'], x['IWH'], x['LBH'], x['PSH'], x['WHH'], x['VCH']]), axis='columns')
df_odds['avgAway'] = df_odds.apply(lambda x: mean([x['B365A'], x['BWA'], x['IWA'], x['LBA'], x['PSA'], x['WHA'], x['VCA']]), axis='columns')
df_odds = df_odds.drop(columns=['B365H', 'B365A', 'BWH','BWA', 'IWH', 'IWA', 'LBH', 'LBA', 'PSH','PSA', 'WHH','WHA','VCH', 'VCA'])

In [109]:
teams = (list(df_odds['HomeTeam'].unique()))
teams.sort()
teams

['Amiens',
 'Angers',
 'Bordeaux',
 'Caen',
 'Dijon',
 'Guingamp',
 'Lille',
 'Lyon',
 'Marseille',
 'Metz',
 'Monaco',
 'Montpellier',
 'Nantes',
 'Nice',
 'Paris SG',
 'Rennes',
 'St Etienne',
 'Strasbourg',
 'Toulouse',
 'Troyes']

In [110]:
df_odds

,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avgHome,avgAway
0,04/08/17,Monaco,Toulouse,3,2,1.307143,9.967143
1,05/08/17,Lyon,Strasbourg,4,0,1.377143,8.284286
2,05/08/17,Metz,Guingamp,1,3,2.790000,2.638571
3,05/08/17,Montpellier,Caen,1,0,1.875714,4.377143
4,05/08/17,Paris SG,Amiens,2,0,1.122857,22.857143
...,...,...,...,...,...,...,...
375,19/05/18,Nantes,Strasbourg,1,0,1.835714,4.428571
376,19/05/18,Rennes,Montpellier,1,1,1.901429,4.328571
377,19/05/18,St Etienne,Lille,5,0,1.538571,6.167143
378,19/05/18,Toulouse,Guingamp,2,1,1.551429,5.962857
379,19/05/18,Troyes,Monaco,0,3,5.658571,1.564286

In [111]:
def isUnderdog(avg_1, avg_2):
    underdog_threshold = 3
    
    underdog_match = 0
    underdog_1 = 0
    underdog_2 = 0

    if avg_1 - avg_2 > underdog_threshold:
        underdog_1 = 1
        underdog_match = 1
    if avg_2 - avg_1 > underdog_threshold:
        underdog_2 = 1
        underdog_match = 1
    
    return underdog_match, underdog_1, underdog_2

df_odds['UnderdogMatch'], df_odds['HomeUnderdog'], df_odds['AwayUnderdog'] = zip(*df_odds.apply(lambda x: isUnderdog(x['avgHome'], x['avgAway']), axis='columns'))

In [112]:
df_odds

,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avgHome,avgAway,UnderdogMatch,HomeUnderdog,AwayUnderdog
0,04/08/17,Monaco,Toulouse,3,2,1.307143,9.967143,1,0,1
1,05/08/17,Lyon,Strasbourg,4,0,1.377143,8.284286,1,0,1
2,05/08/17,Metz,Guingamp,1,3,2.790000,2.638571,0,0,0
3,05/08/17,Montpellier,Caen,1,0,1.875714,4.377143,0,0,0
4,05/08/17,Paris SG,Amiens,2,0,1.122857,22.857143,1,0,1
...,...,...,...,...,...,...,...,...,...,...
375,19/05/18,Nantes,Strasbourg,1,0,1.835714,4.428571,0,0,0
376,19/05/18,Rennes,Montpellier,1,1,1.901429,4.328571,0,0,0
377,19/05/18,St Etienne,Lille,5,0,1.538571,6.167143,1,0,1
378,19/05/18,Toulouse,Guingamp,2,1,1.551429,5.962857,1,0,1
379,19/05/18,Troyes,Monaco,0,3,5.658571,1.564286,1,1,0

In [113]:
df_matches

,roundId,gameweek,teamsData,seasonId,dateutc,winner,wyId,label,referees,competitionId,team1_id,team1_name,team2_id,team2_name,team1_goals,team2_goals,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,4405655,38,"{'3783': {'scoreET': 0, 'coachId': 210513, 'si...",181189,2018-05-19 19:00:00,0,2501056,"Caen - PSG, 0 - 0","[{'refereeId': 384954, 'role': 'referee'}, {'r...",412,3783,Caen,3767,PSG,0,0,Caen,Paris SG,0,0
1,4405655,38,"{'3804': {'scoreET': 0, 'coachId': 220743, 'si...",181189,2018-05-19 19:00:00,0,2501057,"Dijon - Angers SCO, 2 - 1","[{'refereeId': 385496, 'role': 'referee'}, {'r...",412,3804,Dijon,3799,Angers,2,1,Dijon,Angers,2,1
2,4405655,38,"{'3766': {'scoreET': 0, 'coachId': 211238, 'si...",181189,2018-05-19 19:00:00,3766,2501058,"Olympique Lyonnais - Nice, 3 - 2","[{'refereeId': 386297, 'role': 'referee'}, {'r...",412,3766,Olympique Lyonnais,3775,Nice,3,2,Lyon,Nice,3,2
3,4405655,38,"{'3771': {'scoreET': 0, 'coachId': 25691, 'sid...",181189,2018-05-19 19:00:00,3771,2501059,"Olympique Marseille - Amiens SC, 2 - 1","[{'refereeId': 385529, 'role': 'referee'}, {'r...",412,3771,Olympique Marseille,3789,Amiens SC,2,1,Marseille,Amiens,2,1
4,4405655,38,"{'3772': {'scoreET': 0, 'coachId': 9092, 'side...",181189,2018-05-19 19:00:00,3772,2501060,"Metz - Bordeaux, 0 - 4","[{'refereeId': 385796, 'role': 'referee'}, {'r...",412,3777,Metz,3772,Bordeaux,0,4,Metz,Bordeaux,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,4405655,1,"{'3783': {'scoreET': 0, 'coachId': 210513, 'si...",181189,2017-08-05 18:00:00,3787,2500692,"Montpellier - Caen, 1 - 0","[{'refereeId': 385496, 'role': 'referee'}, {'r...",412,3787,Montpellier,3783,Caen,1,0,Montpellier,Caen,1,0
376,4405655,1,"{'3782': {'scoreET': 0, 'coachId': 218066, 'si...",181189,2017-08-05 18:00:00,3782,2500694,"Saint-\u00c9tienne - Nice, 1 - 0","[{'refereeId': 385528, 'role': 'referee'}, {'r...",412,3782,Saint-\u00c9tienne,3775,Nice,1,0,St Etienne,Nice,1,0
377,4405655,1,"{'3795': {'scoreET': 0, 'coachId': 25606, 'sid...",181189,2017-08-05 18:00:00,0,2500695,"Troyes - Rennes, 1 - 1","[{'refereeId': 386325, 'role': 'referee'}, {'r...",412,3795,Troyes,3774,Rennes,1,1,Troyes,Rennes,1,1
378,4405655,1,"{'3789': {'scoreET': 0, 'coachId': 26812, 'sid...",181189,2017-08-05 15:15:00,3767,2500693,"PSG - Amiens SC, 2 - 0","[{'refereeId': 381847, 'role': 'referee'}, {'r...",412,3767,PSG,3789,Amiens SC,2,0,Paris SG,Amiens,2,0
379,4405655,1,"{'3780': {'scoreET': 0, 'coachId': 228969, 'si...",181189,2017-08-04 18:45:00,19830,2500691,"Monaco - Toulouse, 3 - 2","[{'refereeId': 384931, 'role': 'referee'}, {'r...",412,19830,Monaco,3780,Toulouse,3,2,Monaco,Toulouse,3,2

In [114]:
df_merged = df_matches.merge(df_odds, on=['HomeTeam', 'AwayTeam', 'HomeGoals', 'AwayGoals'])

In [115]:
print(df_matches.shape)
print(df_odds.shape)
print(df_merged.shape)

(380, 20)
(380, 10)
(380, 26)

In [116]:
underdog_matches = df_merged[df_merged['UnderdogMatch'] == 1].reset_index(drop=True)
underdog_matches.shape

(147, 26)

In [117]:
underdog_matches = underdog_matches.drop(columns=['roundId', 'gameweek', 'teamsData', 'seasonId', 'dateutc', 'referees', 'competitionId', 'HomeTeam','AwayTeam', 'HomeGoals', 'AwayGoals', 'Date'])

In [118]:
underdog_matches.to_csv(f'data/underdogs/underdogs_{country}.csv', index=False)